/*
 * -------------------------------------------------
 *  atacseq Nextflow config file
 * -------------------------------------------------
 *
 */

// Global default params, used in configs
 params {
     // Thomas' parameters from nf-smallRNAseq
     outdir    = "."
     reads     = "ngs_raw/*.bam"

     // Options: Generic
     input = './design.csv'
     single_end = false
     seq_center = false
     fragment_size = 0
     fingerprint_bins = 500000

     // Options: genome and annotation
     genome = false
     tss = false

     contamination = "none"
     spikeIn = false

     // options: adapter trimming
     adapter1 = 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC'
     adapter2 = 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGTAGATCTCGGTGGTCGCCGTATCATT'
     minLength = 10
     overlapLength = 1


     // Options: Alignments
     bwa_min_score = false
     keep_mito = false
     keep_dups = false
     keep_multi_map = false
     skip_merge_replicates = false
     save_align_intermeds = false

     // Options: Peaks
     narrow_peak = false
     broad_cutoff = 0.1
     macs_fdr = false
     macs_pvalue = false
     min_reps_consensus = 1
     save_macs_pileup = false
     skip_peak_qc = false
     skip_peak_annotation = false
     skip_consensus_peaks = false

     // Options: Differential analysis
     deseq2_vst = false
     skip_diff_analysis = false

     // Options: QC
     skip_fastqc = false
     skip_picard_metrics = false
     skip_preseq = false
     skip_plot_profile = false
     skip_plot_fingerprint = false
     skip_ataqv = false
     skip_igv = false
     skip_multiqc = false


     // Defaults only for HPC parameters, expecting to be overwritten
     max_time = 4*60
     cpus = 16
     max_memory = '16G'

 }

 // setup from Tobi
 process {

    // error strategy
    errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
    maxRetries = 3

    // basic resources
    cpus = 8
    time = { 4.h * task.attempt }
    memory = { 8.GB * task.attempt }

 }

profiles {

    standard {
        executor = 'slurm'
        queue = { task.memory <= 150.GB ? 'c' : 'm' }
        clusterOptions = { task.time <= 8.h ? '--qos short': task.time <= 48.h ? '--qos medium' : '--qos long' }
    }


    sge {
        process.executor = 'sge'
        process.queue = 'public.q'
        process.penv = 'smp'
    }

    local {
        process.executor = 'local'
    }
}
